<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>serverName</key>
		<string>deyang</string>
		<key>serverIP</key>
		<string>192.168.2.101</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>chengdu</string>
		<key>serverIP</key>
		<string>192.168.2.102</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>mianyang</string>
		<key>serverIP</key>
		<string>192.168.2.103</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>jianyang</string>
		<key>serverIP</key>
		<string>192.168.2.104</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>zigong</string>
		<key>serverIP</key>
		<string>192.168.2.105</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>luzhou</string>
		<key>serverIP</key>
		<string>192.168.2.106</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>leshan</string>
		<key>serverIP</key>
		<string>192.168.2.107</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>chongqing</string>
		<key>serverIP</key>
		<string>192.168.2.108</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>xichang</string>
		<key>serverIP</key>
		<string>192.168.2.109</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>dazhou</string>
		<key>serverIP</key>
		<string>192.168.2.110</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>guangyuan</string>
		<key>serverIP</key>
		<string>192.168.2.111</string>
	</dict>
	<dict>
		<key>serverName</key>
		<string>neijiang</string>
		<key>serverIP</key>
		<string>192.168.2.112</string>
	</dict>
</array>
</plist>
